body {
  font-family: Trebuchet MS, sans-serif;
  font-size: 13pt;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 0px;
  width: 40%;
}

ul li {
  background: #47476b;
  padding: 15px;
  margin: 10px;
  font-family: Trebuchet MS, sans-serif;
}

li a {
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  color: #007acc;
}

.sidenav {
  height: 300%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18pt;
  color: #818181;
  display: block;
}

.sidenav p {
  color:white;
  padding: 16px 8px 6px 16px;
}

.sidenav a:hover {
  color: #ff0066;
  }
  
.sidenav a:visited {
  color: #818181;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}









